//color scheme
$primary-color: #F4845C;
$secondary-color: #E66750;
$tertiary-color: #ECE5CE;


//text colors
$primary-font-color: #FEFEFE;
$secondary-font-color: #E66750;
$tertiary-font-color: #252828;


$grayish-color: #5C5C5C;
$background-color: #FAF6E8;
