header {
  background-color: $primary-color;
  color: $primary-font-color;

  .container {
    padding-top: 1em;
    padding-bottom: 1em;
  }
}

.header-contents {
  display: flex;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  justify-content: space-between;

  align-items: center;

  height: 100%;
}

.header-link {
  padding: 0;
  padding-left: 18px;
  line-height: 39px;
  text-align: right;
  font-size: 0.86em;
  text-transform: uppercase;
  font-weight: 600;

  &:hover {
    cursor: pointer;
  }
}

.header-button {
  padding-left: 21px;
  padding-right: 21px;
  margin-left: 18px;
  text-align: right;
  line-height: 26px;
  font-size: 0.85em;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 1px;
  background-color: white;
  color: $primary-color;
  border: solid white;
  transition: all 0.26666666666s;
  border-radius: 3px;

  height: 92%;

  &:hover {
    background-color: $primary-color;
    color: white;
  }
}

.logo {
  display: flex;

  img {
    height: 37px;
    width: 175px;
    transform: translateY(-2px);
  }
}
